/* Global -------------------------------------- */

@font-face {
    font-family: avo;
    src: url("../fonts/UTM Avo.ttf");
}

@font-face {
    font-family: avobold;
    src: url("../fonts/UTM AvoBold.ttf");
}

body {
    font-family: avo;
}

.clear {
    clear: both;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}

.centercenter {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cachduoi {
    margin-bottom: 2em;
}

h1,
h2,
h3 {
    font-family: avobold;
}



/* End global --------------------------------- */


/* Navbar --------------------------------- */

.nav {
    margin-top: 30px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background: none;
    border: 0;
}

.navbar-brand {
    height: auto;
    margin-left: 50px;
}

.navbar-default .navbar-nav>li>a {
    color: #666;
    font-family: avobold;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #009BDC;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #009BDC;
    background: none;
}

.navbar-nav>li>.dropdown-menu {
    border: 0;
    box-shadow: none;
    border-radius: 0;
}

.dropdown-menu>li>a {
    transition: .3s ease-in-out;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background: none;
    font-family: avobold;
    color: #009BDC;
}

.search {
    margin-top: 15px;
    border: 0;
    width: 40px;
    height: 25px;
    background: url(../images/search.png) no-repeat center right;
    transition: .3s ease-in-out;
}

.search:focus {
    width: 200px;
    border: 1px solid #009BDC;
    border-radius: 15px;
    padding: 0 10px;
    font-size: 9pt;
}

/* End navbar -------------------------------------------------- */


/* Carousel 1 ------------------------------------------- */

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    width: 100%;
    height: auto;
}

.carousel-indicators .active {
    background: #2E3335;
}

.carousel-control {
    background: none !important;
}

.carousel-caption {
    font-size: 23pt;
    font-family: avobold;
    text-align: left;
    line-height: 40pt;
    width: 100%;
    margin-left: 40px;
}

.caption {
    float: left;
    width: 100%;
    font-size: 2.5vw;
    line-height: 4vw;
}

.caption1 {
    border-bottom: 5px solid white;
    display: inline-block;
}

.caption2 {
    font-size: 3.5vw;
}

.carousel-indicators {
    z-index: 1;
}






/* End carousel 1 ------------------------------------ */


/* Carousel 2 ------------------------ */

.item1 {
    display: inline-block;
    width: 100%;
}

.subitem1 {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    background: white;
    padding-bottom: 10px;
}

.anhgv {
    width: 100%;
    display: inline-block;
    max-height: 250px;
    overflow: hidden;
}

.anhgv img {
    transition: .3s ease-in-out;
}

.anhgv img:hover {
    transform: rotate(10deg) scale(1.2);
}

.tengv {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #009BDC;
    font-size: 14pt;
}

.chucvu {
    font-size: 8pt;
    color: #999999;
    margin-bottom: 10px;
}

.hocvan {
    font-size: 8pt;
    color: #999;
    margin-bottom: 15px;
}






/* End carousel 2 -------------------- */


/* Homepage --------------------------------- */


/* Header ------------------------ */

.topbar {

    line-height: 35px;
}

.topbar-address {
    color: white;
    font-size: 10pt;
}

.topbar-lkxh {
    margin-top: 5px;
    text-align: right;
}

.logo {
    margin: 15px 0;
}

.bgheader {
    height: 350px;
    position: relative;
    margin-bottom: 20px;
}

.bgheader>h1 {
    position: absolute;
    color: white;
    font-size: 20pt;
    left: 10%;
    top: 15%;
}

.breadcrumbs {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgba(255, 255, 255, .8);
    padding: 15px;
}

.breadcrumbs a {
    color: #808080;
}





/* End header ------------------------- */

.content_book {
    background: #009BDC;
    color: white;
}

.content_no_padding {
    padding: 0px;
}

.title_book {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 50px;
}

.title_evina {
    padding: 10px 0px;
    height: 50px;
}

.slide_book {
    text-align: center;
    color: white;
    font-size: 10pt;
    height: 220px;
    padding: 10px 15px;
    overflow: hidden;
}

.btn_chitiet {
    border: 0;
    background: none;
    border-radius: 5px;
    padding: 7px;
    color: white;
    display: inline-block;
}

.btn_chitiet:hover {
    border: 1px solid white;
    color: white;
    text-decoration: none;
}

.img_slide_book {
    transition: .2s ease-in-out;
}

.img_slide_book:hover {
    transform: scale(1.1, 1.1);
}

.img_chungtoilaai span {
    display: block;
    width: 70%;
    height: 50%;
    padding: 20px;
    background: rgba(0, 155, 220, 0.5);
}

.content_book {
    text-align: justify;
    position: relative;
}

.why {
    text-align: center;
    color: #009BDC;
    font-family: avobold;
    font-size: 24px;
    margin: 50px 0;
}

.book_menu_img {
    background: url("../images/asset1.png");
}

.addtion {
    position: absolute;
    right: 30px;
    bottom: -15px;
    border: 1px solid white;
    background: white;
    color: #009BDC;
}

.add_add {
    transform: scale(1.1);
}

.add_add:hover {
    color: red;
}

.text_bottom_img_book {
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.text_bottom_img_book_2 {
    color: white;
    padding: 5px;
    margin-left: 10px;
}

.text_bottom_img_book_2:hover {
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 5px;
}

.text_bottom_img_book_title {
    margin-bottom: 10px;
}

.img_translate {
    text-align: center;
    margin-top: -50px;
}

.grade_text {
    text-align: center;
    margin-bottom: 15px;
}

.button_news {
    background: #82E0F9;
    color: white;
    font-weight: bold;
}

.col_news {
    padding-bottom: 20px;
}

.text_hover span:hover {
    color: yellow;
}

.col_program {
    background: #009BDC;
    font-size: 12px;
    color: white;
    position: relative;
}

.title_program {
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0px;
}

.content_program {
    text-align: justify;
}

.text_program {
    position: absolute;
    right: 55px;
    bottom: -30px;
}

.xemtatcakhoahoc a {
    color: white;
}

.xemtatcakhoahoc a:hover {
    text-decoration: none;
}

.news {
    padding: 0;
    margin-bottom: 20px;
    height: 198px;
    overflow: hidden;
}

.imgnews {
    float: left;
    width: 25%;
    position: relative;
    padding: 0;
}

.imgnews img {
    width: 100%;
}

.date {
    display: block;
    width: 100%;
    background: rgba(51, 51, 51, .5);
    color: white;
    font-size: 7pt;
    padding: 10px;
    position: absolute;
    bottom: 0;
}

.overlay2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 155, 220, .2);
    width: 0%;
    height: 0%;
    transition: .3s ease;
}

.overlay2 a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 0px;
    width: 0;
    height: 0;
    font-size: 0;
    transition: .3s ease;
}

.imgnews:hover .overlay2 {
    width: 100%;
    height: 100%;
}

.imgnews:hover a {
    padding: 5px;
    width: 55px;
    height: 25px;
    font-size: 9pt;
    border: 1px solid white;
    border-radius: 5px;
}

.detailnews {
    float: left;
    width: 75%;
    height: 198px;
    padding: 0 15px;
    overflow: hidden;
}

.title_news {
    color: white;
    padding-top: 25px;
    padding-bottom: 15px;
    font-family: avobold;
}

.main_content {
    color: white;
    font-size: 10pt;
    text-align: justify;
    padding: 15px 0;
    line-height: 12pt;
    max-height: 100px;
    overflow: hidden;
}

.xemthem2 {
    color: white;
    font-size: 8pt;
}

.xemthem2:hover {
    color: white;
}

.tab {
    margin-bottom: 20px;
}

.tablink {
    border: 0;
    padding: 10px;
    color: white;
    font-size: 10pt;
    background: #2E3192;
    display: inline-block;
}

.tablink:hover {
    text-decoration: none;
    color: white;
}

.activetab {
    background: #009BDC;
}

.activetab2 {
    font-family: avobold;
}

.tablinks {
    margin-right: 1px;
    padding: 10px;
    color: white;
    background: #009BDC;
    border: 0;
}

.bg_content {
    background: #009BDC;
}

.copyright {
    line-height: 30px;
    background: #1B1464;
    text-align: center;
    color: white;
    font-size: 10pt;
}

.captiongv {
    text-align: center;
    padding-bottom: 5px;
}

.contact_tetx:hover {
    background: yellow !important;
}

.border_baby {
    position: relative;
    transition: 0.2s ease;
}

.img_baby {
    width: 100%;
}

.border_baby img:hover .displ {
    display: block;
}

.content_baby {
    font-size: 12px;
    text-align: justify;
    display: flex;
}

.content_baby_itn {
    padding: 15px;
    background: #F2F6F7;
    height: 180px;
    color: #4D4D4D;
}

.content_baby_itn h1 {
    font-size: 11pt;
    margin: 15px 0;
}

.content_baby_itn p {
    font-size: 9pt;
    margin-bottom: 15px;
}

.title_baby {
    font-weight: bold;
    padding: 10px 0px;
    font-size: 13pt;
}

.bottom_baby {
    background: #2E3192;
    color: white;
    padding: 5px 15px;
    display: flex;
    align-items: center;
}

.xemthem {
    background: white;
    padding: 5px 10px;
    display: block;
    float: right;
    color: #009BDC;
    font-size: 9pt;
}

.xemthem:hover {
    text-decoration: none;
    color: #009BDC;
}

.box_pp {
    padding: 25px;
    background: #009BDC;
}

.box_pp h1 {
    font-size: 20pt;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.box_pp p {
    font-size: 11pt;
    color: white;
    text-align: justify;
    line-height: 20px;
}

.slide1-box {
    padding: 2em 0em;
    margin-bottom: 20px;
    overflow: hidden;
}

.slide1-box .owl-carousel {
    position: relative;
    z-index: 0 !important;
}

.slide1-box .owl-carousel .item {
    max-height: 250px;
    overflow: hidden;
}

.slide1-box .owl-prev,
.slide1-box .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 30px;
    height: 30px;
}

.slide1-box .owl-prev {
    left: -50px;
}

.slide1-box .owl-next {
    right: -50px;
}



.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(70px, -230px);
    -ms-transform: translate(-50%, -50%)
}

.text {
    background-color: #29ABE2;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    width: 70px;
    border-radius: 10px;
}


.item2 {
    position: relative;
    max-height: 180px;
    overflow: hidden;
}

.xemtat {
    display: inline-block;
    padding: 15px;
    font-size: 10pt;
    background: #009BDC;
    color: white;
    margin: 15px 0;
}

.xemtat:hover {
    color: white;
    text-decoration: none;
}



.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 155, 220, .5);
    overflow: hidden;
    width: 0%;
    height: 0%;
    transition: .3s ease;
}

.overlay a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 3px;
    width: 0;
    height: 0;
    font-size: 0;
    transition: .3s ease;
}

.border_baby:hover .overlay {
    width: 100%;
    height: 100%;
}

.border_baby:hover a {
    padding: 5px;
    width: 55px;
    height: 25px;
    font-size: 9pt;
    border: 1px solid white;
}



/* Footer --------------------------- */

footer {
    margin-top: 2em;
}

.footer-box {
    width: 80%;
    color: white;
    background: rgba(0, 155, 220, .9);
    margin: 80px auto;
    display: inline-block;
    text-align: left;
    padding: 25px;
    font-size: 10pt;
}

.footer-box1 {
    width: 40%;
    float: left;
}

.footer-box li {
    margin: 15px 0;
}

.footer-box1 i {
    font-size: 14pt;
    margin-right: 15px;
    float: left;
}

.footer-box2 {
    width: 20%;
    float: left;
}

.footer-box2 span {
    display: inline-block;
    font-family: avobold;
    border-bottom: 2px solid white;
    line-height: 22px;
    margin-bottom: 36px;
    margin-top: 20px;
}

.footer-box2 a {
    color: white;
}

.lkxh {
    width: 100%;
}

.lkxh-left {
    float: left;
}

.lkxh-left a {
    display: inline-block;
    background: white;
    color: #009BDC;
    padding: 5px 10px;
}

.lkxh-right {
    float: right;
}

.btn-fixed {
    display: inline-block;
    background: #009BDC;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    bottom: 30px;
    z-index: 9999;
}

.btn-fixed a {
    color: white;
}

.dangky {
    right: 50px;
}

.scrolltop {
    right: 10px;
}

.tbl-dangky {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

.text-field {
    width: 100%;
}

.btn-dk {
    color: white;
    border-radius: 5px;
    background: #009BDC;
    border: 0;
    margin-right: 15px;
    padding: 8px;
}





/* End footer ------------------------ */


/* Lien He -------------------------------- */

.form-lienhe {
    color: #414042;
}

.form-lienhe table {
    margin: auto;
}

.table-lienhe td {
    padding: .5em;
}

.textbox-lienhe {
    width: 250px;
    border: 1px solid #ccc !important;
}

.guidi {
    border: none;
    background: #2EBBE9;
    color: white;
    padding: .5em 1em;
    float: left;
    cursor: pointer;
}

.vietlai {
    border: none;
    background: #2EBBE9;
    color: white;
    padding: .5em 1em;
    float: right;
    cursor: pointer;
}

.lienhe-info {
    width: 320px;
}

.lienhe-info p {
    color: white;
    display: block;
    font-family: avobold;
    padding: 15px 15px;
    background: #2BBDEB;
    text-align: center;
}

.lienhe-info span {
    display: block;
    width: 150px;
    text-align: center;
    padding: 5px 0;
    background: #1B1464;
    color: white;
    font-size: 9pt;
    margin: 25px 0;
}





/* End Lien He ----------------------- */


/* Giang vien -------------------- */

.chitietgv-box {
    margin-bottom: 20px;
    overflow: hidden;
    background: #009BDC;
    padding: 0;
}

.imggv {
    padding: 0;
    overflow: hidden;
}

.imggv img {
    width: 100%;
}

.chitietgv {
    color: white;
    padding: 25px;
}

.xemthemgv {
    display: inline-block;
    color: white;
    background: #009BDC;
    padding: 15px 25px;
}

.chitietgv p {
    line-height: 15pt;
    font-size: 10pt;
}

.chitietgv h1 {
    font-size: 14pt;
    line-height: 25pt;
}




/* End giang vien ------------------ */


/* Gioi thieu ------------------------ */

.tamnhin {
    color: white;
    background: #009BDC;
    padding: 50px;
    text-align: center;
}

.tamnhin h1 {
    font-size: 20pt;
    margin-bottom: 25px;
}

.sumenh {
    color: white;
    padding: 0;
    display: flex;
}

.sumenh-text {
    padding: 30px;
    padding-left: 0;
}

.sumenh h1 {
    margin-bottom: 25px;
    font-size: 20pt;
}

.sumenh p {
    line-height: 16pt;
}


/* End gioi thieu ----------------------- */


/* Thu vien -------------------- */

.thuvien img {
    width: 100%;
    transition: .3s ease-in-out;
}

.thuvien img:hover {
    filter: brightness(70%);
}


/* End thu vien -------------------- */


/* Tin tuc ----------------------- */

.imgtintuc {
    position: relative;
}

.imgtintuc img {
    width: 100%;
}

.motatintuc {
    background: #E6E6E6;
    padding: 15px;
}

.motatintuc h3 a {
    font-size: 14pt;
    margin: 20px 0 25px 0;
    color: #1A1A1A;
    display: inline-block;
}

.motatintuc p {
    color: #666666;
    line-height: 13pt;
}

.imgtintuc:hover .overlay2 {
    width: 100%;
    height: 100%;
}

.imgtintuc:hover a {
    padding: 5px;
    width: 55px;
    height: 25px;
    font-size: 9pt;
    border: 1px solid white;
    border-radius: 5px;
}

.title-aside {
    color: #333333;
    font-family: avobold;
    font-size: 16pt;
    line-height: 40px;
    display: inline-block;
    border-left: 10px solid #009BDC;
    padding-left: 15px;
    margin-bottom: 15px;
}

.khnb {
    display: inline-block;
    margin-bottom: 15px;
}

.khnb img {
    float: left;
    margin-right: 5%;
    width: 40%;
}

.khnb h3 {
    margin-top: 25px;
    float: left;
    width: 55%;
    color: #4D4D4D;
    font-size: 10pt;
}

.ykien {
    margin-bottom: 15px;
}

.ykien p {
    margin-bottom: 15px;
}

.ykien a {
    display: inline-block;
    margin-right: 15px;
}
.tablinks3 {
    border: 0;
    background: none;
    border-radius: 10px;
    padding:0;
}
.active3 {
    border:2px solid #009BDC;
}
.fanpage img {
    width: 100%;
}

.paging {
    display: flex;
    justify-content: center;
}

.paging li {
    float: left;
}

.paging a {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: white;
    margin-right: 1px;
    background: #009BDC;
}


/* End tin tuc ----------------------- */


/* Chi tiet tin tuc ------------------ */

.baiviet h1 {
    font-size: 20pt;
    line-height: 25pt;
}

.baiviet li {
    float: left;
    border-right: 1px solid #666666;
    color: #666666;
    padding: 0 30px;
    margin: 20px 0;
}

.baiviet li:first-child {
    padding-left: 0;
}

.baiviet li:last-child {
    border: 0;
}

.baiviet img {
    width: 100%;
}

.baiviet p {
    margin: 15px 0;
}

.text-field2 {
    border: 1px solid #ccc;
    width: 100%;
    padding-left: 15px;
}


/* End chi tiet tin tuc ---------------- */


/* Chi tiet khoa hoc -------------------- */

.baiviet2 {
    background: #009BDC;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.kh-info {
    font-family: avobold;
    line-height: 40px;
    font-size: 14pt;
    padding: 15px;
}

.kh-info a {
    color: white;
}

.ttkh {
    display: inline-block;
    background: #009BDC;
    color: white;
    padding: 15px;
    font-size: 10pt;
}

.tbl-kh table {
    border-collapse: separate;
    border-spacing: 20px;
}

.tbl-kh td {
    padding-bottom: 10px;
}

.motakh {
    padding: 15px;
}

.motakh p {
    margin-bottom: 10px;
    line-height: 12pt;
}

.kh-title1 {
    font-size: 18pt;
    color: #009BDC;
    margin: 20px 0;
}
.kh-title2 {
    font-size: 16pt;
    margin: 15px 0;
    color: #333333;
}
.diemmanh li {
    background: url(../images/dot.png) no-repeat center left;
    padding: 10px 20px;
}
.binhluan {
    margin-top: 2em;
}
.baiviet2-thongtin p {
    color:#666;
    line-height: 16pt;
}
/* End chi tiet khoa hoc ------------------- */